//link settings
@import url(setting-styles.css);
//main variables
$mainColor: #000;
$mainDarkColor: #141414;
$mainOrange: #e8aa31;
//======main font parameters============
$fz: 18px;
//======mixin for translate px to rem =========
@function rem($size) {
   $remSize: calc($size / $fz);
   @return $remSize * 1rem;
}

//test pattern by icon-font
%ic {
   font-family: "icomoon";
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
[class*="icon-"] {
   &:before {
      @extend %ic;
      display: block;
   }
}
// MAIN BLOCK STYLES
html,
body {
   font-size: $fz;
}
[class*="__container"] {
   max-width: 1590px;
   margin: 0 auto;
   padding: 0 rem(15px);
   box-sizing: content-box;
}
.wrapper {
   display: flex;
   overflow-x: hidden;
   height: 100%;
   flex-direction: column;
}
main {
   flex: 1 1 auto;
}
//============HEADER==================================
.header {
   // .header__top
   &__top {
      background-color: $mainDarkColor;
   }
   // .header__body
   &__body {
      background-color: #ecf1f2;
   }
   // .header__catalog
   &__catalog {
   }
}
//=========HEADER TOP=================================
.top-header {
   padding: 10px 0;
   // .top-header__container
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      @media (max-width: 991.98px) {
         column-gap: 15px;
      }
   }
   // .top-header__menu
   &__menu {
      flex: 1 1 auto;
   }
   // .top-header__pers-area
   &__pers-area {
      font-weight: 600;
      line-height: rem(22px);
      position: relative;
      z-index: 5;
      display: flex;
      padding: 0px 0px 0px 15px;
      align-items: center;
      transition: all 0.3s ease 0s;
      &:hover {
         span {
            text-decoration: underline;
         }
      }
      &::before {
         font-size: rem(32px);
         margin-right: rem(15px);
      }
      & span {
         @media (max-width: 991.98px) {
            display: none;
         }
      }
   }
}
.menu-top-header {
   // .menu-top-header__list
   &__list {
      display: flex;
      column-gap: rem(60px);
      row-gap: rem(5px);
      flex-wrap: wrap;
      @media (max-width: 991.98px) {
         flex-direction: column;
         row-gap: 25px;
      }
      @media (min-width: 991.98px) {
         padding-right: 15px;
      }
   }
   // .menu-top-header__item
   &__item {
      &_catalog {
         @media (min-width: 991.98px) {
            display: none;
         }
      }
   }
   // .menu-top-header__link
   &__link {
      font-size: rem(16px);
      line-height: rem(19.5px);
      display: flex;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
      &_catalog {
         display: flex;
         justify-content: space-between;
         flex-direction: row-reverse;
         &::before {
            color: white;
            flex: 0 0 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(3px) rotate(90deg);
            font-size: rem(8px);
            z-index: 3;
         }
      }
      @media (max-width: 991.98px) {
         font-size: rem(22px);
      }
   }
   @media (max-width: 991.98px) {
      display: none;
   }
}
.menu {
   // .menu__body
   &__body {
      @media (max-width: 991.98px) {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         left: -100%;
         overflow: auto;
         background-color: $mainDarkColor;
         transition: left 0.3s ease 0s;
         padding: rem(100px) rem(15px) rem(50px) rem(15px);
         z-index: 4;
         &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 70px;
            left: -100%;
            background-color: $mainDarkColor;
            top: 0;
            z-index: 4;
         }
         .menu-open & {
            left: 0;
            &::before {
               left: 0;
            }
         }
      }
   }
   @media (max-width: 991.98px) {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
   }
}
.icon-menu {
   @media (max-width: 991.98px) {
      background-color: $mainDarkColor;
      display: block;
      position: relative;
      width: 40px;
      height: 22.5px;
      cursor: pointer;
      z-index: 10;
      span,
      &::after,
      &::before {
         content: "";
         transition: all 0.3s ease 0s;
         position: absolute;
         left: 0px;
         width: 100%;
         height: 2px;
         background-color: #fff;
      }
      &::before {
         top: 0px;
      }
      &::after {
         bottom: 0px;
      }
      // выравнивание span внутри кнопки
      span {
         top: calc(50% - 1px);
      }
      .menu-open & {
         span {
            transform: scale(0);
         }
         &::before {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
         }
         &::after {
            transform: rotate(45deg);
            top: calc(50% - 1px);
         }
      }
   }
}
//==========HEADER BODY===============================
.body-header {
   padding: 10px 0;
   // .body-header__container
   &__container {
      display: flex;
      align-items: center;
      min-height: 70px;
   }
   // .body-header__logo
   &__logo {
      font-size: rem(39px);
      padding: 0px 158px 0px 0px;
      color: $mainDarkColor;
      height: 44px;
   }
   // .body-header__actions
   &__actions {
   }
}
.header-search-block {
   display: flex;
   flex: 1 1 auto;
}
.header-search {
   //margin: 22px 0 25px;
   display: flex;
   flex: 0 1 377px;
   height: 41px;
   position: relative;
   background-color: rgba(7, 7, 7, 0.03);
   border: 1px solid rgba(4, 4, 4, 0.5);
   border-radius: rem(3px);
   @media (max-width: 991.98px) {
      flex: 1 1 auto;
   }
   @media (max-width: 479.98px) {
      background-color: #fff;
   }
   // .header-search_button
   &_button {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      padding-left: 5px;
      &::before {
         color: rgba(4, 4, 4, 0.5);
         font-size: 14px;
      }
   }
   // .header-search_input
   &_input {
      width: 100%;
      padding-left: 50px;
      background-color: transparent;
      font-size: rem(14px);
      line-height: rem(17px);
   }
}
.actions-body {
   display: flex;
   column-gap: 30px;
   align-items: center;
   justify-content: center;
   @media (max-width: 991.98px) {
      display: none;
   }
   // .actions-body__location
   &__location {
      margin-right: rem(25px);
      text-align: center;
      display: flex;
      align-items: center;
      font-weight: 600;
      line-height: rem(22px);
      padding-left: rem(10px);
      &::before {
         font-size: rem(24px);
         padding-right: 10px;
         color: $mainColor;
      }
   }
   .actions-body__location {
      color: $mainColor;
   }
   // .actions-body__phones
   &__phones {
      position: relative;
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      @media (max-width: 991.98px) {
         margin-right: 0px;
         font-size: 25px;
      }
   }
   // .actions-body__favorite
   &__favorite {
      position: relative;
      z-index: 5;
      color: $mainColor;
      font-size: rem(27px);
      @media (max-width: 991.98px) {
         color: #fff;
         padding-right: 15px;
         font-size: rem(30px);
      }
   }
   // .actions-body__cart
   &__cart {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.phones-body {
   // .phones-body_number
   &_number {
      position: relative;
      z-index: 5;
      color: $mainColor;
      cursor: pointer;
      font-weight: 600;
      line-height: rem(22px);
      white-space: nowrap;
      @media (max-width: 991.98px) {
         color: #fff;
      }
      &::before {
         font-size: 32px;
         @media (min-width: 479.98px) {
            display: none;
         }
      }
      & span {
         @media (max-width: 479.98px) {
            display: none;
         }
      }
   }
   // .phones-body__other-phones
   &__other-phones {
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 115%;
      background-color: #fff;
      //box-shadow: 3px 3px 5px rgb(230 230 230);
      border-radius: 4px;
      left: -10px;
      transition: opacity 0.3s ease 0s;
      @media (max-width: 991.98px) {
         display: none;
      }
   }
   // .phones-body__list
   &__list {
   }
   // .phones-body__item
   &__item {
      padding: 5px 10px;
      display: flex;
      flex-wrap: nowrap;
   }
   // .phones-body__link
   &__link {
      display: flex;
      flex-wrap: nowrap;
      color: $mainColor;
      white-space: nowrap;
   }
}
.phones-body__active {
   visibility: visible;
   opacity: 1;
}
.phones-body-callback {
   font-weight: 700;
   line-height: rem(22px);
   color: $mainOrange;
   transition: 0.2s linear;
   @media (max-width: 991.98px) {
      display: none;
   }
}
.phones-body-callback:hover {
   color: #9e7421;
   text-decoration: underline;
}
.phones-body-arrow {
   position: absolute;
   cursor: pointer;
   right: -30px;
   top: 3px;
   color: $mainOrange;
   transition: all 0.3s ease 0s;
   padding: 0px 0px 0px rem(10px);
   &::before {
      font-size: 13px;
   }
   @media (max-width: 991.98px) {
      display: none;
   }
}
.phones-body-arrow__active {
   transform: rotate(-180deg);
}
.phones-body-arrow:hover {
   color: #9e7421;
}
.cart-body {
   font-size: rem(16px);
   line-height: rem(19.5px);
   // .cart-body_button
   &_button {
      color: $mainOrange;
      transition: 0.2s linear;
      font-size: rem(16px);
      line-height: rem(19.5px);
      &:hover {
         color: #9e7421;
         text-decoration: underline;
      }
   }
   // .cart-body__info
   &__info {
      @media (max-width: 1250px) {
         & {
            display: none;
         }
      }
   }
   // .cart-body__sum
   &__sum span {
      color: rgba(0, 0, 0, 1);
   }
}
.cart-body-icon {
   position: relative;
   z-index: 5;
   margin-right: rem(15px);
   cursor: pointer;
   &::before {
      font-size: rem(32px);
      color: $mainColor;
      @media (max-width: 991.98px) {
         color: #fff;
      }
   }
}
.cart-body-icon span {
   background-color: $mainOrange;
   width: rem(14px);
   height: rem(14px);
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   border-radius: 50%;
   font-size: rem(9px);
   top: -2px;
   right: -5px;
}
@media (max-width: 1400px) {
   .body-header__logo {
      padding: 0px 20px 0px 0px;
   }
}
@media (max-width: 1100px) {
   .actions-body {
      column-gap: 15px;
   }
   .actions-body__location {
      margin-right: rem(5px);
   }
}
//============header__catalog================
.catalog-header {
   background-color: $mainDarkColor;
   position: relative;
   // .catalog-header__container
   &__container {
   }
   // .catalog-header__menu
   &__menu {
      padding: 0px rem(10px);
   }
   @media (max-width: 479.98px) {
      padding: 20px 0;
   }
}
.menu-catalog {
   @media (max-width: 991.98px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $mainDarkColor;
      transition: left 0.3s ease 0s;
      padding: rem(20px) rem(15px) rem(50px) rem(15px);
      .catalog-open & {
         left: 0;
         z-index: 6;
      }
   }
   // .menu-catalog__list
   &__list {
      display: flex;
      justify-content: space-between;
      @media (max-width: 991.98px) {
         flex-direction: column;
         row-gap: rem(25px);
         font-size: rem(22px);
      }
   }
   // .menu-catalog__item
   &__item {
      @media (min-width: 991.98px) {
         display: flex;
         align-items: center;
         padding: 0 rem(15px) 0 0;
      }
   }
   // .menu-catalog__link
   &__link {
      transition: color 0.3s ease 0s;
      position: relative;
      line-height: rem(22px);
      &[data-parent] {
         @media (max-width: 991.98px) {
            width: 100%;
            flex-direction: row-reverse;
            display: inline-flex;
            justify-content: space-between;
         }
      }
      @media (min-width: 991.98px) {
         padding: rem(25px) 0px;
      }
      &::after {
         content: "";
         position: absolute;
         transition: all 0.3s ease 0s;
         bottom: 0;
         opacity: 0;
         visibility: hidden;
         left: 0;
         width: 100%;
         height: 1px;
         background-color: $mainOrange;
      }
      @media (min-width: 991.98px) {
         &:hover {
            color: $mainOrange;
            &::after {
               opacity: 1;
               visibility: visible;
            }
         }
      }
      &._sub-menu-active {
         color: $mainOrange;
         &::after {
            opacity: 1;
            visibility: visible;
         }
      }
      &::before {
         display: none;
      }
      @media (max-width: 991.98px) {
         &::before {
            font-size: rem(8px);
            display: inline-flex;
            justify-content: space-between;
            transform: rotate(90deg);
            align-items: center;
         }
      }
   }
   // .menu-catalog__sub-menu
   &__sub-menu {
      position: absolute;
      width: 100%;
      z-index: 3;
      left: 0;
      background-color: $mainDarkColor;
   }
   &__back {
      display: none;
      @media (max-width: 991.98px) {
         display: inline-flex;
         align-items: center;
         margin: 0px 0px rem(45px) 0px;
         font-size: 22px;
         background-color: $mainDarkColor;
         color: #fff;
         width: 100px;
         &::before {
            font-size: 30px;
            padding-right: 13px;
         }
      }
   }
}
.sub-menu-catalog {
   @media (max-width: 991.98px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $mainDarkColor;
      transition: left 0.3s ease 0s;
      padding: rem(20px) rem(15px) rem(50px) rem(15px);
      .sub-menu-open & {
         display: block;
         left: 0;
         z-index: 6;
      }
   }
   &__back {
      display: none;
      @media (max-width: 991.98px) {
         display: inline-flex;
         align-items: center;
         margin: 0px 0px rem(45px) 0px;
         font-size: 22px;
         background-color: $mainDarkColor;
         color: #fff;
         width: 100px;
         &::before {
            font-size: 30px;
            padding-right: 13px;
         }
      }
   }
   // .sub-menu-catalog__block
   &__block {
      display: none;
      @for $var from 1 to 6 {
         &_#{$var} {
            grid-template-columns: repeat($var, minmax(auto, 320px));
         }
      }
      &._sub-menu-open {
         display: grid;
         @media (max-width: 991.98px) {
            display: block;
         }
      }
      @media (min-width: 991.98px) {
         margin: 0 10px;
      }
   }
   // .sub-menu-catalog__container
   &__container {
   }
   // .sub-menu-catalog__category
   &__category {
      font-weight: 500;
      font-size: rem(16px);
      display: block;
      line-height: rem(19.5px);
      padding: rem(15px) 0;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
      @media (min-width: 991.98px) {
         font-weight: 700;
         padding: rem(30px) rem(15px) rem(30px) 0px;
      }
   }
   // .sub-menu-catalog__list
   &__list {
      display: flex;
      flex-direction: column;
      gap: rem(20px);
      padding: rem(30px) rem(15px) rem(30px) 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      @media (max-width: 991.98px) {
         display: none;
      }
   }
   // .sub-menu-catalog__item
   &__item {
      display: flex;
      padding: 0px 10px 0px 0px;
      //padding: 0px rem(15px);
   }
   // .sub-menu-catalog__link-category
   &__link-category {
      font-size: rem(22px);
      line-height: rem(19.5px);
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
      @media (min-width: 991.98px) {
         font-size: rem(16px);
      }
   }
   // .sub-menu-catalog__footer
   &__footer {
      padding: rem(30px) rem(15px) rem(30px) 0;
      @media (max-width: 991.98px) {
         display: none;
      }
   }
   // .sub-menu-catalog__all
   &__all {
      color: $mainOrange;
      font-size: rem(16px);
      line-height: rem(19.5px);
      transition: 0.2s linear;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
            color: #9e7421;
         }
      }
   }
}
//=================MAIN=================
.page {
   // .page_home
   &_home {
   }
   // .page__main-block
   &__main-block {
   }
   // .page__catalog-cards
   &__catalog-cards {
   }
}
//=================MAIN-SLIDER==============
.main-block {
   background: url("../img/main-slider_images/image-slider-2.jpg") center / cover no-repeat;
   color: #fff;
   padding: 40px 0 60px;
   @media (max-width: 767.98px) {
      padding: 20px 0 20px;
   }
   // .main-block__container
   &__container {
   }
   // .main-block__body
   &__body {
      display: grid;
      align-items: start;
      margin-bottom: 42px;
      row-gap: rem(40px);
      @media (min-width: 767.98px) {
         grid-template-columns: 1fr 40%;
      }
   }
   // .main-block__slider
   &__slider {
   }
   // .main-block__swiper
   &__swiper {
      overflow: hidden; //v
      margin: 0 -25px;
      padding: 0 25px;
      position: relative;
      //min-height: rem(400px);
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      &:not(:last-child) {
         margin-bottom: rem(10px);
      }
   }
   // .main-block__slide
   &__slide {
   }
   // .main-block__media
   &__media {
   }
   // .main-block__advantages
   &__advantages {
   }
   // .main-block__controlls
   &__controlls {
   }
}
.controlls-main-block {
   display: inline-grid;
   grid-auto-flow: column;
   justify-content: start;
   align-content: center;
   gap: rem(20px);
   // .controlls-main-block__dotts
   &__dotts {
      display: inline-grid;
      grid-auto-flow: column;
      gap: rem(15px);
      .slider-pagination-bullet {
         cursor: pointer;
         width: rem(18px);
         height: rem(40px);
         position: relative;
         transition: all 0.3s ease 0s;
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: rem(2px);
            background-color: #fff;
            top: 50%;
            transform: translate(0px, -50%);
            transition: all 0.3s ease 0s;
         }
      }
      .slider-pagination-bullet-active {
         transition: all 0.3s ease 0s;
         width: 30px;
         &::after {
            background-color: $mainOrange;
         }
         &::before {
            content: "";
            background-color: $mainOrange;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transform: translate(0px, -50%);
            position: absolute;
            top: 50%;
            left: 0;
         }
      }
   }
   // .controlls-main-block__fraction
   &__fraction {
      display: flex;
      align-items: center;
   }
}
.fraction-controll {
   letter-spacing: 0.1em;
   // .fraction-controll_current
   &_current {
      font-size: 24px;
      color: $mainOrange;
      font-weight: 600;
   }
   // .fraction-controll_all
   &_all {
   }
}
.slide-main-block {
   //width: 959px    v
   //flex-shrink: 0;    v
   pointer-events: all;
   left: -100%;
   position: absolute;
   transition: left 1s ease-in-out;
   opacity: 0;
   visibility: hidden;
   // .slide-main-block__content
   &__content {
      &:not(:last-child) {
         margin-bottom: rem(30px);
      }
      @media (min-width: 479.98px) {
         &:not(:last-child) {
            margin-bottom: rem(60px);
         }
      }
      @media (min-width: 991.98px) {
         padding-right: rem(40px);
      }
   }
   // .slide-main-block__title
   &__title {
      font-weight: 700;
      font-size: rem(22px);
      line-height: 128%;
      letter-spacing: 0.03em;
      @media (min-width: 479.98px) {
         font-size: rem(28px);
      }
      @media (min-width: 991.98px) {
         font-size: rem(36px);
      }
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
   // .slide-main-block__subtitle
   &__subtitle {
      font-size: rem(22px);
      line-height: 128%;
      letter-spacing: 0.03em;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      @media (min-width: 479.98px) {
         font-size: rem(28px);
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }
      @media (min-width: 991.98px) {
         font-size: rem(36px);
      }
   }
   // .slide-main-block__text
   &__text {
      font-size: rem(16px);
      line-height: 150%;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.7);
      @media (min-width: 479.98px) {
         font-size: rem(20px);
      }
   }
}
.slide-main-block-active {
   opacity: 1;
   visibility: visible;
   position: inherit;
   left: 0;
   margin-bottom: 25px;
}
.button {
   display: inline-block;
   background-color: $mainOrange;
   box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
   border-radius: 3px;
   font-weight: 600;
   font-size: rem(20px);
   line-height: 120%;
   padding: 13px 53px;
   transition: box-shadow 0.3s ease 0s;
   &:hover {
      box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.6);
   }
   @media (max-width: 479.98px) {
      width: 100%;
      text-align: center;
   }
}
.media-main-block {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: rem(15px);
   // .media-main-block__body
   &__body {
      position: relative;
   }
   // .media-main-block__image
   &__image {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: 94.2%;
         bottom: 4.2%;
         right: -26%;
         padding-bottom: 93.5%;
         border-radius: 50%;
         border: 2px solid rgba(255, 255, 255, 0.5);
      }
      img {
         position: relative;
         z-index: 2;
         max-width: 100%;
      }
   }
   // .media-main-block__tips
   &__tips {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   // .media-main-block__tip
   &__tip {
      position: absolute;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: transform 0.3s ease 0s;
      &:hover {
         transform: rotate(-180deg);
      }
      &::after,
      &::before {
         content: "";
         position: absolute;
         background-color: $mainOrange;
         border-radius: 50%;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      &::after {
         opacity: 0.5;
         transform: scale(1.6);
      }
      span {
         z-index: 2;
         position: relative;
         font-weight: 600;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         font-size: rem(20px);
      }
      // .media-main-block__tip_1
      &_1 {
         left: 16%;
         top: 37.2%;
      }
      // .media-main-block__tip_2
      &_2 {
         top: 11.5%;
         right: 2.8%;
      }
      // .media-main-block__tip_3
      &_3 {
         bottom: 23%;
         right: 6%;
      }
   }
}
.advantages-main {
   display: grid;
   grid-template-columns: repeat(4, auto);
   gap: rem(10px);
   justify-content: space-between;
   @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, auto);
      justify-content: space-around;
      row-gap: rem(40px);
   }
   @media (max-width: 479.98px) {
      grid-template-columns: minmax(100px, 300px);
   }
   // .advantages-main__item
   &__item {
      text-align: center;
      max-width: rem(270px);
      display: grid;
      gap: rem(15px);
      grid-template-rows: 78px auto;
   }
   // .advantages-main__icon
   &__icon {
      align-self: center;
   }
   // .advantages-main__text
   &__text {
      font-weight: 600;
      font-size: 20px;
      line-height: 160%;
      @media (max-width: 479.98px) {
         font-size: 16px;
      }
   }
}
//===================CATALOG-CARDS====================
.catalog-cards {
   padding: rem(100px) 0px rem(60px) 0px;
   // .catalog-cards__container
   &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: rem(30px);
      @media (max-width: 479.98px) {
         grid-template-columns: 1fr;
      }
   }
   // .catalog-cards__item
   &__item {
      display: grid;
   }
}
.item-catalog-cards {
   position: relative;
   background-color: #fff;
   overflow: hidden;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
   @media (min-width: 479.98px) {
      height: 293px;
   }
   // .item-catalog-cards__body
   &__body {
      position: relative;
      padding: rem(30px);
      z-index: 2;
   }
   // .item-catalog-cards__title
   &__title {
      &:not(:last-child) {
         padding-bottom: rem(30px);
      }
   }
   // .item-catalog-cards__link-title
   &__link-title {
      color: #000;
      font-weight: 600;
      font-size: rem(24px);
      line-height: 142%;
      display: inline-block;
      &::after {
         content: "";
         width: rem(70px);
         height: rem(2px);
         display: block;
         margin: rem(15px) 0px 0px 0px;
         background-color: $mainOrange;
         transition: width 0.8s ease 0s;
      }
      @media (any-hover: hover) {
         &:hover {
            &::after {
               width: 100%;
            }
         }
      }
   }
   // .item-catalog-cards__list
   &__list {
   }
   // .item-catalog-cards__item
   &__item {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: rem(6px);
         height: rem(6px);
         border-radius: 50%;
         background-color: $mainOrange;
         top: 8px;
         left: 0;
      }
      &:not(:last-child) {
         padding-bottom: rem(10px);
      }
   }
   // .item-catalog-cards__link
   &__link {
      padding-left: 20px;
      color: #000;
      font-size: rem(18px);
      line-height: 133%;
      &:not(:last-child) {
         margin-bottom: rem(10px);
      }
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
   // .item-catalog-cards__image
   &__image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      max-width: 100%;
      img {
         max-width: 100%;
      }
      @media (min-width: 479.98px) {
         position: absolute;
         height: 100%;
         top: 20px;
         right: 0;
         align-items: flex-end;
         justify-content: flex-end;
      }
   }
}
