@import url(setting-styles.css);
[class*=icon-]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

html,
body {
  font-size: 18px;
}

[class*=__container] {
  max-width: 1590px;
  margin: 0 auto;
  padding: 0 0.8333333333rem;
  box-sizing: content-box;
}

.wrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.header__top {
  background-color: #141414;
}
.header__body {
  background-color: #ecf1f2;
}
.top-header {
  padding: 19px 0;
}
.top-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .top-header__container {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.top-header__menu {
  flex: 1 1 auto;
}
.top-header__pers-area {
  position: relative;
  z-index: 5;
  display: flex;
  padding: 0px 0px 0px 15px;
  align-items: center;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .top-header__pers-area:hover {
    text-decoration: underline;
  }
}
.top-header__pers-area::before:hover {
  text-decoration: none;
}
.top-header__pers-area::before {
  font-size: 1.7777777778rem;
  margin-right: 0.8333333333rem;
}
@media (max-width: 991.98px) {
  .top-header__pers-area span {
    display: none;
  }
}

.menu-top-header__list {
  display: flex;
  -moz-column-gap: 3.3333333333rem;
       column-gap: 3.3333333333rem;
  row-gap: 0.2777777778rem;
  flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .menu-top-header__list {
    flex-direction: column;
    row-gap: 25px;
  }
}
@media (min-width: 991.98px) {
  .menu-top-header__list {
    padding-right: 15px;
  }
}
@media (min-width: 991.98px) {
  .menu-top-header__item_catalog {
    display: none;
  }
}
.menu-top-header__link {
  font-size: 0.8888888889rem;
  line-height: 1.0833333333rem;
  display: flex;
}
@media (any-hover: hover) {
  .menu-top-header__link:hover {
    text-decoration: underline;
  }
}
.menu-top-header__link_catalog {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.menu-top-header__link_catalog::before {
  color: white;
  flex: 0 0 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(3px) rotate(90deg);
  font-size: 0.4444444444rem;
  z-index: 3;
}
@media (max-width: 991.98px) {
  .menu-top-header__link {
    font-size: 1.2222222222rem;
  }
}
@media (max-width: 991.98px) {
  .menu-top-header {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #141414;
    transition: left 0.3s ease 0s;
    padding: 5.5555555556rem 0.8333333333rem 2.7777777778rem 0.8333333333rem;
    z-index: 4;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    background-color: #141414;
    top: 0;
    z-index: 4;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
@media (max-width: 991.98px) {
  .menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}

@media (max-width: 991.98px) {
  .icon-menu {
    background-color: #141414;
    display: block;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::after, .icon-menu::before {
    content: "";
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
}

.body-header {
  padding: 23px 0;
}
.body-header__container {
  display: flex;
  align-items: center;
}
.body-header__logo {
  font-size: 2.1666666667rem;
  padding: 0px 158px 0px 0px;
  color: #141414;
  height: 44px;
}
.header-search-block {
  display: flex;
  flex: 1 1 auto;
}

.header-search {
  display: flex;
  flex: 0 1 377px;
  height: 41px;
  position: relative;
  background-color: rgba(7, 7, 7, 0.03);
  border: 1px solid rgba(4, 4, 4, 0.5);
  border-radius: 0.1666666667rem;
}
@media (max-width: 991.98px) {
  .header-search {
    flex: 1 1 auto;
  }
}
@media (max-width: 479.98px) {
  .header-search {
    background-color: #fff;
  }
}
.header-search_button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  padding-left: 5px;
}
.header-search_button::before {
  color: rgba(4, 4, 4, 0.5);
  font-size: 14px;
}
.header-search_input {
  width: 100%;
  padding-left: 50px;
  background-color: transparent;
  font-size: 0.7777777778rem;
  line-height: 0.9444444444rem;
}

.actions-body {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .actions-body {
    display: none;
  }
}
.actions-body__location {
  margin-right: 1.3888888889rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.2222222222rem;
  padding-left: 0.5555555556rem;
}
.actions-body__location::before {
  font-size: 1.3333333333rem;
  padding-right: 10px;
  color: #000;
}
.actions-body .actions-body__location {
  color: #000;
}
.actions-body__phones {
  position: relative;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .actions-body__phones {
    margin-right: 0px;
    font-size: 25px;
  }
}
.actions-body__favorite {
  position: relative;
  z-index: 5;
  color: #000;
  font-size: 1.5rem;
}
@media (max-width: 991.98px) {
  .actions-body__favorite {
    color: #fff;
    padding-right: 15px;
    font-size: 1.6666666667rem;
  }
}
.actions-body__cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phones-body_number {
  position: relative;
  z-index: 5;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.2222222222rem;
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .phones-body_number {
    color: #fff;
  }
}
.phones-body_number::before {
  font-size: 32px;
}
@media (min-width: 479.98px) {
  .phones-body_number::before {
    display: none;
  }
}
@media (max-width: 479.98px) {
  .phones-body_number span {
    display: none;
  }
}
.phones-body__other-phones {
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 115%;
  background-color: #fff;
  border-radius: 4px;
  left: -10px;
  transition: opacity 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .phones-body__other-phones {
    display: none;
  }
}
.phones-body__item {
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
}
.phones-body__link {
  display: flex;
  flex-wrap: nowrap;
  color: #000;
  white-space: nowrap;
}

.phones-body__active {
  visibility: visible;
  opacity: 1;
}

.phones-body-callback {
  font-weight: 700;
  line-height: 22px;
  color: #e8aa31;
  transition: 0.2s linear;
}
@media (max-width: 991.98px) {
  .phones-body-callback {
    display: none;
  }
}

.phones-body-callback:hover {
  color: #9e7421;
  text-decoration: underline;
}

.phones-body-arrow {
  position: absolute;
  cursor: pointer;
  right: -30px;
  top: 3px;
  color: #e8aa31;
  transition: 0.2s linear;
  padding: 0px 0px 0px 0.5555555556rem;
}
.phones-body-arrow::before {
  font-size: 13px;
}
@media (max-width: 991.98px) {
  .phones-body-arrow {
    display: none;
  }
}

.phones-body-arrow:hover {
  color: #9e7421;
  text-decoration: underline;
}

.cart-body {
  font-size: 0.8888888889rem;
  line-height: 1.0833333333rem;
}
.cart-body_button {
  color: #e8aa31;
  transition: 0.2s linear;
  font-size: 16px;
  line-height: 1.0833333333rem;
}
.cart-body_button:hover {
  color: #9e7421;
  text-decoration: underline;
}
@media (max-width: 1250px) {
  .cart-body__info {
    display: none;
  }
}
.cart-body__sum span {
  color: rgb(0, 0, 0);
}

.cart-body-icon {
  position: relative;
  z-index: 5;
  margin-right: 0.8333333333rem;
  cursor: pointer;
}
.cart-body-icon::before {
  font-size: 1.7777777778rem;
  color: #000;
}
@media (max-width: 991.98px) {
  .cart-body-icon::before {
    color: #fff;
  }
}

.cart-body-icon span {
  background-color: #e8aa31;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  font-size: 0.5rem;
  top: -2px;
  right: -5px;
}

@media (max-width: 1400px) {
  .body-header__logo {
    padding: 0px 20px 0px 0px;
  }
}
@media (max-width: 1100px) {
  .actions-body {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .actions-body__location {
    margin-right: 0.2777777778rem;
  }
}
.catalog-header {
  background-color: #141414;
  position: relative;
}
.catalog-header__menu {
  padding: 0px 0.5555555556rem;
}
@media (max-width: 479.98px) {
  .catalog-header {
    padding: 20px 0;
  }
}

@media (max-width: 991.98px) {
  .menu-catalog {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #141414;
    transition: left 0.3s ease 0s;
    padding: 1.1111111111rem 0.8333333333rem 2.7777777778rem 0.8333333333rem;
  }
  .catalog-open .menu-catalog {
    left: 0;
    z-index: 6;
  }
}
.menu-catalog__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .menu-catalog__list {
    flex-direction: column;
    row-gap: 1.3888888889rem;
    font-size: 1.2222222222rem;
  }
}
@media (min-width: 991.98px) {
  .menu-catalog__item {
    display: flex;
    align-items: center;
    padding: 0 0.8333333333rem 0 0;
  }
}
.menu-catalog__link {
  transition: color 0.3s ease 0s;
  position: relative;
  line-height: 1.2222222222rem;
}
@media (max-width: 991.98px) {
  .menu-catalog__link[data-parent] {
    width: 100%;
    flex-direction: row-reverse;
    display: inline-flex;
    justify-content: space-between;
  }
}
@media (min-width: 991.98px) {
  .menu-catalog__link {
    padding: 1.3888888889rem 0px;
  }
}
.menu-catalog__link::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease 0s;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e8aa31;
}
@media (min-width: 991.98px) {
  .menu-catalog__link:hover {
    color: #e8aa31;
  }
  .menu-catalog__link:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.menu-catalog__link._sub-menu-active {
  color: #e8aa31;
}
.menu-catalog__link._sub-menu-active::after {
  opacity: 1;
  visibility: visible;
}
.menu-catalog__link::before {
  display: none;
}
@media (max-width: 991.98px) {
  .menu-catalog__link::before {
    font-size: 0.4444444444rem;
    display: inline-flex;
    justify-content: space-between;
    transform: rotate(90deg);
    align-items: center;
  }
}
.menu-catalog__sub-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #141414;
}
.menu-catalog__back {
  display: none;
}
@media (max-width: 991.98px) {
  .menu-catalog__back {
    display: inline-flex;
    align-items: center;
    margin: 0px 0px 2.5rem 0px;
    font-size: 22px;
    background-color: #141414;
    color: #fff;
    width: 100px;
  }
  .menu-catalog__back::before {
    font-size: 30px;
    padding-right: 13px;
  }
}

@media (max-width: 991.98px) {
  .sub-menu-catalog {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #141414;
    transition: left 0.3s ease 0s;
    padding: 1.1111111111rem 0.8333333333rem 2.7777777778rem 0.8333333333rem;
  }
  .sub-menu-open .sub-menu-catalog {
    display: block;
    left: 0;
    z-index: 6;
  }
}
.sub-menu-catalog__back {
  display: none;
}
@media (max-width: 991.98px) {
  .sub-menu-catalog__back {
    display: inline-flex;
    align-items: center;
    margin: 0px 0px 2.5rem 0px;
    font-size: 22px;
    background-color: #141414;
    color: #fff;
    width: 100px;
  }
  .sub-menu-catalog__back::before {
    font-size: 30px;
    padding-right: 13px;
  }
}
.sub-menu-catalog__block {
  display: none;
}
.sub-menu-catalog__block_1 {
  grid-template-columns: repeat(1, minmax(auto, 320px));
}
.sub-menu-catalog__block_2 {
  grid-template-columns: repeat(2, minmax(auto, 320px));
}
.sub-menu-catalog__block_3 {
  grid-template-columns: repeat(3, minmax(auto, 320px));
}
.sub-menu-catalog__block_4 {
  grid-template-columns: repeat(4, minmax(auto, 320px));
}
.sub-menu-catalog__block_5 {
  grid-template-columns: repeat(5, minmax(auto, 320px));
}
.sub-menu-catalog__block._sub-menu-open {
  display: grid;
}
@media (max-width: 991.98px) {
  .sub-menu-catalog__block._sub-menu-open {
    display: block;
  }
}
@media (min-width: 991.98px) {
  .sub-menu-catalog__block {
    margin: 0 10px;
  }
}
.sub-menu-catalog__category {
  font-weight: 500;
  font-size: 0.8888888889rem;
  display: block;
  line-height: 1.0833333333rem;
  padding: 0.8333333333rem 0;
}
@media (any-hover: hover) {
  .sub-menu-catalog__category:hover {
    text-decoration: underline;
  }
}
@media (min-width: 991.98px) {
  .sub-menu-catalog__category {
    font-weight: 700;
    padding: 1.6666666667rem 0.8333333333rem 1.6666666667rem 0px;
  }
}
.sub-menu-catalog__list {
  display: flex;
  flex-direction: column;
  gap: 1.1111111111rem;
  padding: 1.6666666667rem 0.8333333333rem 1.6666666667rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 991.98px) {
  .sub-menu-catalog__list {
    display: none;
  }
}
.sub-menu-catalog__item {
  display: flex;
  padding: 0px 10px 0px 0px;
}
.sub-menu-catalog__link-category {
  font-size: 1.2222222222rem;
  line-height: 1.0833333333rem;
}
@media (any-hover: hover) {
  .sub-menu-catalog__link-category:hover {
    text-decoration: underline;
  }
}
@media (min-width: 991.98px) {
  .sub-menu-catalog__link-category {
    font-size: 0.8888888889rem;
  }
}
.sub-menu-catalog__footer {
  padding: 1.6666666667rem 0.8333333333rem 1.6666666667rem 0;
}
@media (max-width: 991.98px) {
  .sub-menu-catalog__footer {
    display: none;
  }
}
.sub-menu-catalog__all {
  color: #e8aa31;
  font-size: 0.8888888889rem;
  line-height: 1.0833333333rem;
  transition: 0.2s linear;
}
@media (any-hover: hover) {
  .sub-menu-catalog__all:hover {
    text-decoration: underline;
    color: #9e7421;
  }
}/*# sourceMappingURL=main-styles.css.map */