@font-face {
  font-family: 'icomoon';
  src: url('icomoon-new.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_up:before {
  content: "\e900";
}
.icon-arrow-back:before {
  content: "\e901";
}
.icon-burger-menu:before {
  content: "\e902";
}
.icon-compare:before {
  content: "\e903";
}
.icon-footer_time:before {
  content: "\e904";
}
.icon-footer_email:before {
  content: "\e905";
}
.icon-footer_phone:before {
  content: "\e906";
}
.icon-header_cart:before {
  content: "\e907";
}
.icon-header_bottom-arrov:before {
  content: "\e908";
}
.icon-header_favorite:before {
  content: "\e909";
}
.icon-header_search:before {
  content: "\e90a";
}
.icon-location_header:before {
  content: "\e90b";
}
.icon-logo-main:before {
  content: "\e90c";
}
.icon-rubles:before {
  content: "\e90d";
}
.icon-Star:before {
  content: "\e90e";
}
.icon-top_header-pers_account:before {
  content: "\e90f";
}
.icon-arrow-light:before {
  content: "\e910";
}
